/*
  1. Posicionamiento
  2. Modelo de caja (Box-model)
  3. Tipografia
  4. Visuales
  5. Otros
*/

:root{
  /* Colores */
  --linearbg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --warm-black: #201E1C;
  --warm-black-1: #282623;
  --gray: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;

  /* Tipografia */
  --dm-sans: 'DM Sans', sans-serif;
  --inter: 'Inter', sans-serif;

  /* Font-Sizes */
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-24: 2.4rem;
}


/*
  Estilos generales
*/

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  transition-duration: 500ms;
}
body{
  font: var(--dm-sans);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: unset;
}


/* Utilidades */

.container{
  width: 28.8rem;
  margin: auto;
}
.white__shadow{
  background: #C4C4C4;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.black__shadow{
  background: #282623;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}


/* Header */

.header{
  background: var(--linearbg);
  height: 29.5rem;
  text-align: center;
}
.logo{
  margin: 3.3rem 0;
}
.header--title{
  font-weight: 700;
  line-height: 2.6rem;
  font-size: var(--font-24);
  color: var(--just-white);
}
.header--title p{
  padding-top: 2.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  font-size: var(--font-14);
  color: var(--soft-orange);
}
.header__button{
  padding: 1.5rem 1.6rem;
  background-color: var(--off-white);
  width: 22.9rem;
  margin: auto;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  font-size: var(--font-14);
  position: relative;
  top: 3.4rem;
}


/* Main */

.main{
  background-color: var(--off-white);
  padding-top: 5rem;
}
.main__image{
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  background-image: url(../assets/img/Bitcoin.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.main--title{
  font-size: var(--font-24);
  text-align: center;
  line-height: 2.6rem;
  color: var(--warm-black);
  margin: 4.4rem 0 0 0;
  font-weight: 700;
}
.main--title p{
  margin-top: 2rem;
  font-size: var(--font-14);
  text-align: center;
  line-height: 1.8rem;
  color: var(--warm-black);
  font-weight: 500;
  color: var(--gray);
}
.table__section{
  padding: 4.8rem 0 6rem 0;
}
.main__currency--table{
  width: 19.3rem;
  margin: auto;
}
.main__currency--table > p:first-of-type{
  color: #FF9536;
  font-size: var(--font-18);
  font-weight: 700;
  margin: 0 0 1.2rem 2.5rem;
}
.table__tr{
  display: flex;
  font-family: var(--inter);
  font-size: var(--font-16);
  line-height: 2rem;
  color: #B5B0AC;
  height: 3.9rem;
}
.table__individual--element{
  background-color: var(--just-white);
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}
.table__left{
  width: 10.1rem;
  margin-right: 1px;
  padding-left: 1.2rem;
}
.table__right{
  justify-content: space-around;
  width: 9.1rem;
}
.table__border-sup-left{
  border-radius: 0.8rem 0 0 0;
}
.table__border-sup-right{
  border-radius: 0 0.8rem 0 0;
}
.table__border-inf-left{
  border-radius: 0 0 0 0.8rem;
}
.table__border-inf-right{
  border-radius: 0 0 0.8rem 0;
}
.table__inf--cost{
  display: inline-block;
  padding: 0.8rem;
  border-radius: 8px;
  margin: 2.4rem 0 3rem 2.4rem;
  font-size: var(--font-12);
  color: var(--warm-black-1);
}
.orange__button{
  background-color: var(--soft-orange);
}
.blue__button{
  background-color: #E7F5FF;
}
.main__currency--commissions{
  width: 19.3rem;
  margin: auto;
}
.main__currency--commissions > p:first-of-type{
  color: #1A9AF7;
  font-size: var(--font-18);
  font-weight: 700;
  margin: 0 0 1.2rem 2.5rem;
}


/* Batatabit characteristics */

.batatabit__icon{
  background-image: url(../assets/icons/batata.svg);
  height: 2.6rem;
  position: relative;
  top: -1.2em;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
.batatabit__characteristics{
  background-color: var(--warm-black);
  text-align: center;
  padding-bottom: 3.4rem;
}
.batatabit__characteristics--description h2{
  color: var(--just-white);
  font-size: var(--font-24);
  line-height: 2.6rem;
  font-weight: 700;
  padding-top: 3.4rem;
}
.batatabit__characteristics--description h3{
  color: #808080;
  font-weight: 500;
  font-size: var(--font-14);
  line-height: 1.8rem;
  margin: 2.4rem 0 3.2rem 0;
}
.batatabit__characteristics--cards{
  display: flex;
  flex-wrap: wrap;
  width: 29rem;
  margin: auto;
}
.clock, .eye, .dollar, .check, .arrow{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-image: url(../assets/icons/clock.svg);
  background-position: center center;
  background-size: cover;
}
.eye{
  background-image: url(../assets/icons/eye.svg);
}
.dollar{
  background-image: url(../assets/icons/dollar-sign.svg);
}
.check{
  background-image: url(../assets/icons/check-circle.svg);
}
.arrow{
  background-image: url(../assets/icons/orange-right-arrow.svg);
}
.card{
  width: 28.8rem;
  margin: 0 auto 1.5rem auto;
  padding: 1.6rem 1.8rem 2.2rem 1.8rem;
  background-color: var(--warm-black-1);
  text-align: start;
  border-radius: 4px;
}
.card:hover{
  transform: scale(1.05);
  transition-duration: 400ms;
  cursor: default;
}
.card__title{
  color: var(--just-white);
  margin-top: 1rem;
  font-size: var(--font-18);
}
.card__description{
  font-size: var(--font-14);
  line-height: var(--font-18);
  color: #808080;
  margin: 1rem 0 0 0;
}


/* Bitcoin Image */

.bitcoin__image{
  width: 100%;
  height: 50vh;
  background-image: url("../assets/img/bitcoinbaby2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.bitcoin__image--title{
  font-size: var(--font-24);
  font-weight: 700;
  color: var(--just-white);
  padding: 2.5rem;
}


/* Plans */

.plans__section{
  padding: 5rem 0;
  text-align: center;
  background-color: var(--off-white);
}
.plans__section > div > h2{
  font-size: var(--font-24);
  font-weight: 700;
  color: var(--warm-black);
  line-height: 2.6rem;
}
.plans__section > div > p{
  padding-top: 2.4rem;
  font-size: var(--font-14);
  font-weight: 500;
  color: #757575;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.plan__card{
  position: relative;
  min-width: 19rem;
  max-width: 19rem;
  background-color: var(--just-white);
  border-radius: 8px;
  font-family: var(--inter);
  padding: 2rem 0;
  margin: 0 5px;
  scroll-snap-align: center;
}
.plan__card--header{
  width: 12rem;
  position: absolute;
  display: inline-block;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  font-size: var(--font-12);
  font-weight: 700;
  padding: 0.8rem;
  border-radius: 8px;
  top: -1.5rem;
  left: calc(50% - 6rem);
}
.plan__card > div > .title{
  font-size: var(--font-14);
  font-weight: 500;
  color: black;
}
.plan__card > div .price{
  font-weight: var(--inter);
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 5.2rem;
  font-weight: 700;
  padding: 1rem 0;
}
.plan__card > div > .advantage{
  font-weight: 500;
  font-size: var(--font-12);
  color: #757575;
  line-height: 15px;
  margin-bottom: 16px;
}
.plan__card > div a > .botton{
  background-color: var(--soft-orange);
  padding: 8px 1.6rem;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: var(--font-14);
  width: max-content;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--bitcoin-orange);
  border-width: 2px;
}
.plan__card > div a > .botton > p{
  margin-right: 8px;
}
.plans__cards--slider{
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 2rem 0;
}


/* Footer */

.footer{
  background-color: var(--bitcoin-orange);
  padding: 2rem 0;
}
.footer__elements{
  color: var(--just-white);
  font-size: 1.4rem;
  line-height: var(--font-18);
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__list li{
  margin: 0.8rem;
}



/* Media Querys */

/*
    Orden del Resposive

    375px --> iPhone 8
    414px --> iPhone 11 Pro
    834px --> iPad Pro 11'' -1
    --> MacBook - 1
    --> iMac
*/

/*
  iPhone 8
*/

@media all and (min-width: 375px){
  .container{
    width: 34.2rem;
    margin: auto;
  }
  .batatabit__characteristics--cards{
    width: 35rem;
  }
  .card{
    width: 34.3rem;
  }
}


/*
  iPhone 11 Pro
*/

@media all and (min-width: 414px){
  .container{
    width: 38.2rem;
    margin: auto;
  }
  .header{
    height: 27rem;
  }
  .header__button{
    position: relative;
    top: 0rem;
  }
  .header__button{
    position: relative;
    top: 3.38rem;
  }
}


/*
  iPad Pro 11'' -1
*/

@media all and (min-width: 834px){
  .container{
    width: 46.4rem;
    margin: auto;
  }
  .header{
    height: 48rem;
  }
  .logo{
    padding-top: 9.63rem;
    padding-bottom: 4.47rem;
  }
  .logo a img{
    width: 20rem;
  }
  .header__description--a{
    line-height: 4.2rem;
    font-size: 4rem;
    margin-bottom: 3.2rem;
  }
  .header__description--b{
    line-height: 2.4rem;
    font-size: 2rem;
  }
  .header__button{
    position: relative;
    top: 7.38rem;
  }
  .main__description--a{
    font-size: 4rem;
    line-height: 4.2rem;
    margin: 4rem 0 2.4rem 0 ;
  }
  .main__description--b{
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .batatabit__characteristics--cards{
    width: 72rem;
  }
  .card{
    width: 34.5rem;
    height: 15.2rem;
    margin: 1rem auto;
  }
}